<!DOCTYPE html>

{% set communication = null %}

<html>
    <head>
      <title> formalibre </title>
      <link rel="stylesheet" href="{{ asset('', absolute=true) ~ 'themes/' ~ 'claroline' ~ '/bootstrap.css' }}" screen="media" />
      <style>
          .top-margin {
              margin-top: 10%;
          }
          .default-block {
              margin-left:10%;
          }
         .logo {
                max-width:20%;
                height: auto;
          }
          .white-bg{
              background:#ffffff !important;
          }
      </style>
    </head>
    <body class="white-bg">
        <div class="container white-bg">
            {% include 'FormaLibreInvoiceBundle:Invoice:invoice\\invoice_data.html.twig'
                with {'chart': chart}
            %}
        </br>
            {% include 'FormaLibreInvoiceBundle:Invoice:invoice\\chart_data.html.twig'
                with {'chart': chart}
            %}
            {% include 'FormaLibreInvoiceBundle:Invoice:invoice\\footer.html.twig'
                with {'communication': communication, 'chart': chart}
            %}
        </div>
    </body>
</html>
