<!DOCTYPE html>

<html>
    <head>
      <title> formalibre </title>
      <style>
          ul, li {
            list-style-type: none;
            list-style-position:inside;
            margin:0;
            padding:0;
          }

          .top-margin {
              margin-top: 1%;
          }

          .footer {
              text-align:center;
          }

          .default-block {
              margin-left:10%;
          }

          .client-info {
              margin-left:60%;
          }

          .logo {
                max-width:20%;
                height: auto;
          }

          .top-span {
              display: inline-block;
          }
      </style>
    </head>

    <body>
        <div class="top default-block top-margin">
            <img style="max-width:10%; height: auto; margin-bottom: 2%"src="{{ asset('bundles/formalibreinvoice/images/invoice_logo.jpg', absolute=true) }}" class="logo" alt="logo_formalibre"/>
        </div>
        <div class="top-margin title">
            {{ 'booking_thanks'|trans({}, 'platform') }}
        </div>
        <div class="top-margin credit">
            {{ 'booking_confirm'|trans({}, 'invoice') }}
        </div>
        <small>
            {{ 'invoice_footer'|trans({}, 'invoice')|raw }}
        </small>
    </body>
</html>
