<div>
    {% set baseurl = config.getParameter('formalibre_commercial_url') %}
    <div class="alert alert-success">
    {{
        'campus_connection_message'|trans(
            {
                '%baseurl%': baseurl,
                '%username%': user.getUsername(),
            },
            'invoice'
        )|raw
    }}
</div>
    <div class="alert alert-danger">
    {{
        'forgot_password_message'|trans({'%baseurl%': baseurl}, 'invoice')|raw
    }}
    </div>
</div>
