.saving-label {
    font-size: 100%;
}

.product-panel-selected {
    border-color: #69CAFF;
}

.product-panel-selected > .panel-heading {
    background-color: #69CAFF;
}

.credits-img {
    display: inline-block;
}