{% set layout = "ClarolineCoreBundle::layout.html.twig" %}

{% if isDesktop() %}
    {% set layout = "ClarolineCoreBundle:Desktop:layout.html.twig" %}
{% endif %}

{% extends layout %}

{% if isDesktop() %}
    {% block breadcrumb %}
        {{
            macros.desktopBreadcrumbs([
                {
                    'name': 'formalibre'|trans({}, 'platform'),
                    'href': path('shared_workspace_show_all')
                },
                {
                    'name': 'subscription'|trans({}, 'invoice'),
                    'href': ''
                }
            ])
        }}
    {% endblock %}
{% endif %}

{% block content %}

<div class="section-content">
    <div class="panel panel-default">
        <div class="panel-body">
            {% include 'FormaLibreInvoiceBundle:Invoice:invoice.html.twig'
                with {'communication': communication, 'chart': chart}
            %}
        </div>
    </div>
</div>
{% endblock %}
